<table>
<caption>
Sample of data specific to this exploratory data analysis. Data reported in minutes.
</caption>
<thead>
<tr>
<th style="text-align:left;">
batch_id
</th>
<th style="text-align:right;">
turn_1
</th>
<th style="text-align:right;">
turn_2
</th>
<th style="text-align:right;">
top_temp
</th>
<th style="text-align:right;">
smbs_to_turn
</th>
<th style="text-align:right;">
total_smbs
</th>
<th style="text-align:right;">
initiate_temp
</th>
<th style="text-align:right;">
max_temp
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
CT19J07003
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
21.83911
</td>
<td style="text-align:right;">
231.0844
</td>
<td style="text-align:right;">
28.17448
</td>
<td style="text-align:right;">
44.38848
</td>
</tr>
<tr>
<td style="text-align:left;">
CT19J04010
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
27.65545
</td>
<td style="text-align:right;">
196.6155
</td>
<td style="text-align:right;">
29.98708
</td>
<td style="text-align:right;">
45.54896
</td>
</tr>
<tr>
<td style="text-align:left;">
CT19J04006
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
16.62154
</td>
<td style="text-align:right;">
229.7562
</td>
<td style="text-align:right;">
29.11140
</td>
<td style="text-align:right;">
45.59089
</td>
</tr>
<tr>
<td style="text-align:left;">
CT19J03008
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
14.30060
</td>
<td style="text-align:right;">
213.9844
</td>
<td style="text-align:right;">
31.24220
</td>
<td style="text-align:right;">
44.56134
</td>
</tr>
<tr>
<td style="text-align:left;">
CT19J02003
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
14.77535
</td>
<td style="text-align:right;">
253.8139
</td>
<td style="text-align:right;">
30.90735
</td>
<td style="text-align:right;">
46.13168
</td>
</tr>
<tr>
<td style="text-align:left;">
CT19J01006
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
45
</td>
<td style="text-align:right;">
15.10036
</td>
<td style="text-align:right;">
232.9910
</td>
<td style="text-align:right;">
30.91599
</td>
<td style="text-align:right;">
45.60035
</td>
</tr>
</tbody>
</table>
